@model Syrophage.Models.Users


@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">


<!-- signup14-->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Responsive Multipurpose HTML5 Business Template">
    <meta name="author" content="Shreethemes">

    <link rel="shortcut icon" href="images/favicon.ico">


    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700|Poppins" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Magnificpopup Css -->
    <link href="~/assets/css/magnific-popup.css" type="text/css" rel="stylesheet" />

    <!-- Bootstrap core CSS -->
    <link href="~/assets/css/materialdesignicons.min.css" rel="stylesheet" />
    <link href="~/assets/css/fontawesome.css" rel="stylesheet" />
    <link href="~/assets/css/pe-icon-7-stroke.css" rel="stylesheet" />
    <!--Slider-->
    <link href="~/assets/css/slick.css" rel="stylesheet" />
    <link href="~/assets/css/slick-theme.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="~/assets/css/style.css" rel="stylesheet" />
    <link href="~/assets/css/menu.css" rel="stylesheet" />
    <link href="~/assets/css/default.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />

</head>

<body>
    <!-- Loader -->
    <div id="preloader">
        <div id="status">
            <div class="spinner">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>
        </div>
    </div>

    <!-- Navigation Bar-->
    <section class="bg-home" id="SignUp">
        <div class="bg-overlay"></div>
        <div class="home-center">
            <div class="home-desc-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-6 col-lg-4">
                            <div class="bg-white p-30 rounded box-shadow">
                                <div class="text-center">
                                    <h4><a href="index-2.html"><img src="~/screenshot 2024-04-25 174323.png" height="50" alt="logo"></a></h4>



                                    <div class="spacer-15"></div>
                                </div>
                                <form class="login-form" method="post" asp-action="Register" asp-controller="Login" onsubmit="return validateForm()">
                                    <div class="row">
                                        <div class="col-lg-12 mt-2">

                                            <label class="">Name</label>
                                            <input type="text" class="form-control" placeholder="Name" asp-for="Name" >
                                            <span asp-validation-for="Name" style="color: red;"></span>

                                        </div>
                                        <div class="col-lg-12 mt-2">
                                            <label class="">Email</label>
                                            <input type="email" class="form-control" placeholder="Email" asp-for="Email">
                                            <span asp-validation-for="Email" style="color: red;"></span>

                                        </div>
                                        <div class="col-lg-12 mt-2">
                                            <label class="">Phone No.</label>
                                            <input type="text" class="form-control" placeholder="Phone" asp-for="Phone">
                                            <span asp-validation-for="Phone" style="color: red;"></span>

                                        </div>
                                        <div class="col-lg-12 mt-2">
                                            <label class="">Password</label>
                                            <input type="password" class="form-control" placeholder="Password" asp-for="Password">
                                            <span asp-validation-for="Password" style="color: red;"></span>


                                        </div>
                                        <div class="col-lg-12 mt-2">
                                            <label class="">Confirm Password</label>
                                            <input type="password" class="form-control" placeholder="Confirm Password" asp-for="ConfirmPassword">
                                            <span asp-validation-for="ConfirmPassword" style="color: red;"></span>

                                        </div>
                                        <div class="col-lg-12 mt-2">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                                <label class="custom-control-label" for="customCheck1">I Accept <a href="#">Terms And Condition</a></label>
                                                <span asp-validation-for="IsActivated" style="color: red;"></span>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 mt-4 mb-3">
                                            <button class="btn btn-custom w-100">Register</button>
                                        </div>
                                        <div class="mx-auto">
                                            <p class="mb-0 mt-2"><small class="text-dark mr-2">Already have an account ?</small> <a asp-action="Login" asp-controller="Login" class="text-dark font-weight-bold">Sign in</a></p>

                                            <p class="mb-0 mt-2" style="margin-left: 00px;"><small class="text-dark mr-2">Dont want to Register ?</small> <a asp-action="Index" asp-controller="Home" class="text-dark font-weight-bold">Skip To Home</a></p>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- HOME END-->
    <!-- js placed at the end of the document so the pages load faster -->

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>



    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <!-- Portfolio -->
    <script src="~/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="~/assets/js/isotope.js"></script>
    <!-- Carousel -->
    <script src="~/assets/js/slick.min.js"></script>
    <script src="~/assets/js/slick.init.js"></script>
    <!--custom script-->
    <script src="~/assets/js/app.js"></script>


    <script>
        function validateForm() {
            var checkBox = document.getElementById("customCheck1");
            if (!checkBox.checked) {
                alert("Please accept the terms and conditions.");
                return false; // Prevent form submission
            }
            return true; // Allow form submission
        }
    </script>

</body>


<!-- signup14-->
</html>

@if (TempData["repeatemail"] != null)
{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">

    <script type="text/javascript">
        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }


        // Display the Toastr notification
        toastr.error('@TempData["repeatemail"]');
    </script>
}

@if (TempData["repeatephone"] != null)
{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">

    <script type="text/javascript">
        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }


        // Display the Toastr notification
        toastr.error('@TempData["repeatephone"]');
    </script>
}

@if (TempData["Confirm"] != null)
{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">

    <script type="text/javascript">
        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }


        // Display the Toastr notification
        toastr.error('@TempData["Confirm"]');
    </script>
}