<!DOCTYPE html>
<html lang="en">

    <head>

    <link href="~/css/site.css" rel="stylesheet" />
    </head>



<body>




    <!-- HOME START-->
    <section class="bg-half" id="About">
        <div class="bg-overlay"></div>
        <div class="home-center">
            <div class="home-desc-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-12">
                            <div class="page-next-level text-white">
                                <h4 class="text-uppercase">About Us</h4>
                                <div class="page-next"> <a href="index-2.html">Home</a> <i class="mdi mdi-chevron-right"></i> &nbsp;<span>About Us</span> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- HOME END-->



    <!-- ABOUT US START -->
    <section class="section">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-7 col-md-6">
                    <div class="about-section text-right mr-lg-3">
                        <h4 class="text-uppercase">
                            Introducing Our Syrophage Squad
                        </h4>
                        <div class="spacer-15"></div>
                        <p class="text-muted">Step into the vibrant world of Syrophage, where passion ignites innovation and expertise fuels ambition. 
                            Our team isn't just a group of individuals; we're a powerhouse of creativity, collaboration, and unwavering dedication. From industry trailblazers with a wealth of experience to rising stars brimming with fresh ideas, each member brings a unique spark to our dynamic ensemble. Together, we're not just shaping projects; we're sculpting the future with every inspired endeavor.</p>
                        <div class="mt-30">
                            <a href="#" class="btn btn-custom">read more</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-5 col-md-6">
                    <div class="about-pic mt-sm-30">
                        <img src="~/assets/images/about/about-page.jpg" class="img-fluid" alt="" />

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ABOUT US END -->


    <!-- FEATURE-TWO START -->
    <section class="section bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="feature-two p-20 text-center">
                        <div class="feat-icon">
                            <i class="fas fa-hands"></i>
                        </div>

                        <div class="feat-head">
                            <h4>Our Vision</h4>
                            <p class="text-muted mb-0">
                                To create a future where collaboration, innovation, and hope intersect to drive positive change.


                            </p>
                            <div class="feature-hover-icon">
                                <i class="fas fa-hands"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="feature-two p-20 text-center">
                        <div class="feat-icon">
                            <i class="fab fa-sketch"></i>
                        </div>

                        <div class="feat-head">
                            <h4>Our Mission</h4>
                            <p class="text-muted mb-0">
                                Empowering businesses with innovative solutions that harness the collective potential of our generation.

                            </p>
                            <div class="feature-hover-icon">
                                <i class="fab fa-sketch"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="feature-two p-20 text-center">
                        <div class="feat-icon">
                            <i class="fas fa-trophy"></i>
                        </div>

                        <div class="feat-head">
                            <h4>Values</h4>
                            <p class="text-muted mb-0">
                                Innovative, collaborative, integrity-driven, excellence-focused, impactful, resilient, sustainable, and rooted in the ethos of giving back.

                            </p>
                            <div class="feature-hover-icon">
                                <i class="fas fa-trophy"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- FEATURE-TWO END -->




     <!-- FAQ & CHART START -->
        <section class="section bg-light">
            <div class="container">
                <div class="row">
                   

                    <div class="col-md-12">
                        <div class="faq-chart-section">
                        <h4>WHAT DO WE OFFER</h4>
                            <div class="spacer-15"></div>
                        <p class="text-muted">
                            From HR Harmony to Corporate Gifts Galore, and Admin Allure

                        </p>
                        </div>
                        <div class="skill-bar mt-4">
                            <div class="tab-pane fade" id="skill" role="tabpanel">
                                <div class="skill">
                                    <div>
                                    <h6 class="text-muted mb-2">
                                        HUMAN RESOURCE SUPPORT
                                    </h6>
                                        <div class="progress">
                                            <div class="progress-bar" style="width:80%;">
                                                <div class="progress-value text-muted h6">80%</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="mt-4">
                                    <h6 class="text-muted mb-2">TRANING & DEVELOPMENT</h6>
                                        <div class="progress">
                                            <div class="progress-bar" style="width:100%;">
                                                <div class="progress-value text-muted h6">100%</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="mt-4">
                                    <h6 class="text-muted mb-2">
                                        GOODIES AND SUPPLIES
                                    </h6>
                                        <div class="progress">
                                            <div class="progress-bar" style="width:100%;">
                                                <div class="progress-value text-muted h6">100%</div>
                                            </div>
                                        </div>
                                    </div>
                                
                                    <div class="mt-4">
                                    <h6 class="text-muted mb-2">
                                        KEEP RECORD AND DOCUMENTATION
                                    </h6>
                                        <div class="progress">
                                            <div class="progress-bar" style="width:90%;">
                                                <div class="progress-value text-muted h6">90%</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="mt-4">
                                    <h6 class="text-muted mb-2">
                                        CUSTOMER SEGMENTATION
                                    </h6>
                                        <div class="progress">
                                            <div class="progress-bar" style="width:90%;">
                                                <div class="progress-value text-muted h6">90%</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- FAQ & CHART END -->
</body>


</html>