







<link href="~/css/site.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />


        <section class="bg-home" id="HomePage">
            <div class="bg-overlay"></div>
            <div class="home-center">
                <div class="home-desc-center">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="title-heading text-center">
                            <h1 class="">Revolutionize Your Business Experience</h1>
                            <p class="text-white-50 mx-auto">From HR to Gifts to Supplies: Your All-in-one Business Partner</p>
                                    <div class="mt-3">
                                        <a href="#" class="btn btn-custom mr-3">Contact Us</a>
                                        <a href="#" class="btn btn-outline-white">About Us</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- HOME END--> 

        <!-- FEATURES START -->
        <section class="section-two bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="feature">
                            <div class="fe-icon">
                        <i class="fas fa-people-arrows float-left"></i>
                            </div>
                            <div class="fe-head">
                        <h4>HR Services</h4>
                        <p class="text-muted mb-0">Transform Your Team into a Powerhouse of Success with Our Dynamic HR Solutions – Where Every Employee Flourishes!</p>
                                <span>01.</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="feature">
                            <div class="fe-icon">
                        <i class="fas fa-gifts float-left"></i>
                            </div>
                            <div class="fe-head">
                        <h4>Corporate Gifts</h4>
                        <p class="text-muted mb-0">Craft Lasting Impressions with Our Exquisite Corporate Gifts – Where Elegance Meets Expression in Every Gesture!</p>
                                <span>02.</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="feature">
                            <div class="fe-icon">
                        <i class="fas fa-user-tie float-left"></i>
                            </div>
                            <div class="fe-head">
                        <h4>Admin Supplies</h4>
                        <p class="text-muted mb-0">Elevate Your Workspace with Cutting-Edge Admin Supplies – Where Functionality Meets Flair for Effortless Efficiency!</p>
                                <span>03.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- FEATURES END -->

        <!-- ABOUT US START -->
        <section class="section">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-5 col-md-6">
                        <div class="about-pic">
                    <img src="~/assets/images/about/about-pic.jpg" class="img-fluid" alt="">
                            <div class="watch-video about-video text-center">
                                <div class="project-video">
                                    <div class="project-video-border">
                                        <div class="project-video-icon">
                                            <a href="https://www.youtube.com/watch?v=3rTyi3oEziU" class="video-play-icon text-white text-center" title="Watch Now"><i class="mdi mdi-play play-icon play h2 mb-0 mx-auto"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-7 col-md-6">
                        <div class="about-section ml-lg-3 mt-sm-30">
                            <h4 class="text-uppercase">We're knowledgeable about making benefits higher</h4>
                            <div class="spacer-15"></div>
                            <p class="text-muted">Why I say old chap that is, spiffing tomfoolery lost the plot plastered starkers tosser, say no biggie brolly bleeding super. The full monty Elizabeth nice one quaint butty give us a bell easy peasy gutted mate smashing, crikey cracking goal bobby James Bond knackered spiffing young delinquent down the pub bodge, bugger all mate old cor blimey guvnor what a load of rubbish.!</p>
                            <div class="mt-30">
                                <a href="#" class="btn btn-custom">Our Mission</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ABOUT US END -->

        <!-- SERVICES START -->
        <section class="section bg-light"> 
            <div class="container"> 
                <div class="row justify-content-center">
                    <div class="col-lg-8 col-md-12">
                        <div class="section-title text-center">
                    <h3>WHY SYROPHAGE</h3>
                            <div class="spacer-15"></div>
                           
                            <div class="spacer-30"></div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="types-of-service mt-30 p-20">
                            <div class="service-icon text-custom">
                                <i class="fas fa-chalkboard-teacher float-left mb-0"></i>
                            </div>
                            <div class="service-head">
                        <h4>Convenience</h4>
                        <p class="text-muted mb-0">Syrophage eliminates vendor management stress by providing a diverse range of products under one roof, simplifying procurement for businesses.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="types-of-service mt-30 p-20">
                            <div class="service-icon text-custom">
                                <i class="fas fa-hand-holding-heart float-left mb-0"></i>
                            </div>
                            <div class="service-head">
                        <h4>Quality & Affordability</h4>
                            <p class="text-muted mb-0">Enjoy high-quality products from top brands at unbeatable prices, with discounts of up to 70%.</p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-4 col-md-6">
                        <div class="types-of-service mt-30 p-20">
                            <div class="service-icon text-custom">
                                <i class="fas fa-wrench float-left mb-0"></i>
                            </div>
                            <div class="service-head">
                        <h4>Variety</h4>
                        <p class="text-muted mb-0">Explore a vast collection of fashion, electronics, office supplies, and more from renowned brands like Jack & Jones, Allen Solly, and others.</p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-4 col-md-6">
                        <div class="types-of-service mt-30 p-20">
                            <div class="service-icon text-custom">
                                <i class="fab fa-digital-ocean float-left mb-0"></i>
                            </div>
                            <div class="service-head">
                        <h4>Comprehensive HR Services</h4>
                        <p class="text-muted mb-0">Syrophage streamlines HR operations with recruitment, payroll, and compliance support, allowing businesses to focus on core activities.</p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-4 col-md-6">
                        <div class="types-of-service mt-30 p-20">
                            <div class="service-icon text-custom">
                                <i class="fas fa-layer-group float-left mb-0"></i>
                            </div>
                            <div class="service-head">
                        <h4>Direct from Manufacturers</h4>
                        <p class="text-muted mb-0">Cut out middlemen for superior quality and lower costs, sourcing products directly from manufacturers.</p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-4 col-md-6">
                        <div class="types-of-service mt-30 p-20">
                            <div class="service-icon text-custom">
                                <i class="fab fa-sketch float-left mb-0"></i>
                            </div>
                            <div class="service-head">
                        <h4>Efficient Customer Support</h4>
                        <p class="text-muted mb-0">Benefit from prompt assistance from our dedicated team, providing tailored solutions to meet organizational needs.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- SERVICES END -->

        <!-- CTA START -->
        <section class="section bg-cta-img">
            <div class="bg-overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="cta-heading text-center text-white">
                            <h3>Trending ideas and inventions always make us feel proud</h3>
                            <div class="spacer-15"></div>
                            <p class="mx-auto cta_details text-white-50">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="watch-video text-center">
                            <div class="project-video">
                                <div class="project-video-border">
                                    <div class="project-video-icon">
                                        <a href="https://www.youtube.com/watch?v=ToizAqT4Fw0" class="video-play-icon text-white text-center" title="Watch Now"><i class="mdi mdi-play play-icon play h2 mb-0 mx-auto"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- CTA END -->

        <!-- WORK START -->
        


<section class="section" id="contact">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-12">
                <div class="section-title text-center">
                    <h3>Get In Touch</h3>
                    <div class="spacer-15"></div>
                    <p class="text-muted mb-0">Donec sodales sagittis magna. Excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi.</p>
                    <div class="spacer-30"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="map video-app-box mt-30">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d6030.418742494061!2d-111.34563870463673!3d26.01036670629853!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2smx!4v1471908546569" style="border: 0" allowfullscreen></iframe>
                </div>
            </div>
            <!-- col end -->
            <div class="col-md-6">
                <div class="custom-form mt-30">
                    <div id="message"></div>
                    <form method="post" action="https://alita.netlify.com/layouts/php/contact.php" name="contact-form" id="contact-form">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group app-label">
                                    <input name="name" id="name" type="text" class="form-control" placeholder="Your name :">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group app-label">
                                    <input name="email" id="email" type="email" class="form-control" placeholder="Your email :">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group app-label">
                                    <input name="subject" id="subject" class="form-control" placeholder="Your subject :">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group app-label">
                                    <textarea name="comments" id="comments" rows="3" class="form-control" placeholder="Enter message :"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <input type="submit" id="submit" name="send" class="submitBnt btn btn-custom w-100" value="Send Message">
                                <div id="simple-msg"></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="row mt-lg-5 mt-md-3 mt-sm-30">
            <div class="col-lg-3 col-md-6">
                <div class="contact-details text-center mt-30 p-20">
                    <div class="contact-icon">
                        <i class="fas fa-map-marker-alt"></i>
                    </div>
                    <div class="spacer-15"></div>
                    <div class="contact-head">
                        <p class="mb-0 info-title">Location</p>
                        <p class="mb-0"><a href="#" class="text-muted">3179 Raccoon Run, WA 98109</a></p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="contact-details text-center mt-30 p-20">
                    <div class="contact-icon">
                        <i class="fas fa-envelope"></i>
                    </div>
                    <div class="spacer-15"></div>
                    <div class="contact-head">
                        <p class="mb-0 info-title">Email</p>
                        <p class="mb-0"><a href="#" class="text-muted">youremailid@gmail.com</a></p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="contact-details text-center mt-30 p-20">
                    <div class="contact-icon">
                        <i class="fas fa-globe"></i>
                    </div>
                    <div class="spacer-15"></div>
                    <div class="contact-head">
                        <p class="mb-0 info-title">Website</p>
                        <p class="mb-0"><a href="#" class="text-muted">www.yourdomain.com</a></p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="contact-details text-center mt-30 p-20">
                    <div class="contact-icon">
                        <i class="fas fa-phone"></i>
                    </div>
                    <div class="spacer-15"></div>
                    <div class="contact-head">
                        <p class="mb-0 info-title">Call</p>
                        <p class="mb-0">012-345-6789</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
        <!-- TESTIMONIAL END -->

        <!-- COUNTER START -->
        <section class="section bg-counter">
            <div class="bg-overlay"></div>
            <div class="container">
                <div class="row" id="counter">
                    <div class="col-lg-3 col-md-3">
                        <div class="text-center counter-funfact p-4 mt-3 text-white">
                            <i class="pe-7s-wristwatch counter-icon"></i>
                            <h2 class="counter-value" data-count="500">4</h2>
                            <p class="counter-name mb-0">Vendors</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3">
                        <div class="text-center counter-funfact left-border p-4 mt-3 text-white">
                            <i class="pe-7s-note2 counter-icon"></i>
                            <h2 class="counter-value" data-count="640">10</h2>
                            <p class="counter-name mb-0">Projects</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3">
                        <div class="text-center counter-funfact left-border p-4 mt-3 text-white">
                            <i class="pe-7s-users counter-icon"></i>
                            <h2 class="counter-value" data-count="238">201</h2>
                            <p class="counter-name mb-0">Clients</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3">
                        <div class="text-center counter-funfact left-border p-4 mt-3 text-white">
                            <i class="pe-7s-wine counter-icon"></i>                      
                            <h2 class="counter-value" data-count="532">2</h2>
                            <p class="counter-name mb-0">Tea Cup</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>



@if (TempData["Success"] != null)
{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">

    <script type="text/javascript">
        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }


        // Display the Toastr notification
        toastr.success('@TempData["Success"]');
    </script>
}