
<link href="~/css/site.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">



<!-- Loader -->

<div id="preloader">
    <div id="status">
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>
</div>



@* -------------------------------------- *@





@* <div id="preloader1">
    <div id="status1">
        <!-- Customized video loader -->
        <video autoplay muted loop id="video-loader">
            <source src="~/video_loader/s.mp4" type="video/mp4" />

            <!-- Add additional source elements for other video formats if needed -->
            Your browser does not support the video tag.
        </video>
    </div>
</div> *@




@* --------------------------------------------- *@




        <section class="bg-home" id="HomePage">
            <div class="bg-overlay"></div>
            <div class="home-center">
                <div class="home-desc-center">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="title-heading text-center">
                            <h1 class="">Revolutionize Your Business Experience</h1>
                            <p class="text-white-50 mx-auto">From HR to Gifts to Supplies: Your All-in-one Business Partner</p>
                                    <div class="mt-3">
                                        <a href="#" class="btn btn-custom mr-3">Contact Us</a>
                                        <a href="#" class="btn btn-outline-white">About Us</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- HOME END--> 

        <!-- FEATURES START -->
        <section class="section-two bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="feature">
                            <div class="fe-icon">
                        <i class="fas fa-people-arrows float-left"></i>
                            </div>
                            <div class="fe-head">
                        <h4>HR Services</h4>
                        <p class="text-muted mb-0">Transform Your Team into a Powerhouse of Success with Our Dynamic HR Solutions – Where Every Employee Flourishes!</p>
                                <span>01.</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="feature">
                            <div class="fe-icon">
                        <i class="fas fa-gifts float-left"></i>
                            </div>
                            <div class="fe-head">
                        <h4>Corporate Gifts</h4>
                        <p class="text-muted mb-0">Craft Lasting Impressions with Our Exquisite Corporate Gifts – Where Elegance Meets Expression in Every Gesture!</p>
                                <span>02.</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="feature">
                            <div class="fe-icon">
                        <i class="fas fa-user-tie float-left"></i>
                            </div>
                            <div class="fe-head">
                        <h4>Admin Supplies</h4>
                        <p class="text-muted mb-0">Elevate Your Workspace with Cutting-Edge Admin Supplies – Where Functionality Meets Flair for Effortless Efficiency!</p>
                                <span>03.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- FEATURES END -->

        <!-- ABOUT US START -->
        <section class="section">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-5 col-md-6">
                        <div class="about-pic">
                    <img src="~/assets/images/about/about-pic.jpg" class="img-fluid" alt="">
                            <div class="watch-video about-video text-center">
                              
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-7 col-md-6">
                        <div class="about-section ml-lg-3 mt-sm-30">
                    <h4 class="text-uppercase">Connect With Syrophage</h4>
                            <div class="spacer-15"></div>
                    <p class="text-muted">Ready to ignite your business with a touch of Syrophage magic? Dive into the world where innovation thrives and dreams take flight. Our team isn't just about solutions; we're about crafting extraordinary experiences that redefine what's possible. Get ready to embark on an electrifying journey of growth, collaboration, and unstoppable success. Let's write your business's success story together – because with Syrophage, the future is yours to shape.</p>
                            <div class="mt-30">
                                <a href="#" class="btn btn-custom">Our Mission</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ABOUT US END -->

        <!-- SERVICES START -->
        <section class="section bg-light"> 
            <div class="container"> 
                <div class="row justify-content-center">
                    <div class="col-lg-8 col-md-12">
                        <div class="section-title text-center">
                    <h3>WHY SYROPHAGE</h3>
                            <div class="spacer-15"></div>
                           
                            <div class="spacer-30"></div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="types-of-service mt-30 p-20">
                            <div class="service-icon text-custom">
                        <i class="fas bi-emoji-smile-fill float-left mb-0"></i>
                            </div>
                            <div class="service-head">
                        <h4>Convenience</h4>
                        <p class="text-muted mb-0">Syrophage eliminates vendor management stress by providing a diverse range of products under one roof, simplifying procurement for businesses.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="types-of-service mt-30 p-20">
                            <div class="service-icon text-custom">
                        <i class="fas bi-award-fill float-left mb-0"></i>
                            </div>
                            <div class="service-head">
                        <h4>Quality & Affordability</h4>
                            <p class="text-muted mb-0">Enjoy high-quality products from top brands at unbeatable prices, with discounts of up to 70%.</p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-4 col-md-6">
                        <div class="types-of-service mt-30 p-20">
                            <div class="service-icon text-custom">
                        <i class="fas bi-pie-chart-fill float-left mb-0"></i>
                            </div>
                            <div class="service-head">
                        <h4>Variety</h4>
                        <p class="text-muted mb-0">Explore a vast collection of fashion, electronics, office supplies, and more from renowned brands like Jack & Jones, Allen Solly, and others.</p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-4 col-md-6">
                        <div class="types-of-service mt-30 p-20">
                            <div class="service-icon text-custom">
                        <i class="fas fa-universal-access float-left mb-0"></i>
                            </div>
                            <div class="service-head">
                        <h4>Comprehensive HR Services</h4>
                        <p class="text-muted mb-0">Syrophage streamlines HR operations with recruitment, payroll, and compliance support, allowing businesses to focus on core activities.</p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-4 col-md-6">
                        <div class="types-of-service mt-30 p-20">
                            <div class="service-icon text-custom">
                        <i class="fas bi bi-boxes float-left mb-0"></i>
                            </div>
                            <div class="service-head">
                        <h4>Direct from Manufacturers</h4>
                        <p class="text-muted mb-0">Cut out middlemen for superior quality and lower costs, sourcing products directly from manufacturers.</p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-4 col-md-6">
                        <div class="types-of-service mt-30 p-20">
                            <div class="service-icon text-custom">
                                <i class="fab fa-sketch float-left mb-0"></i>
                            </div>
                            <div class="service-head">
                        <h4>Efficient Customer Support</h4>
                        <p class="text-muted mb-0">Benefit from prompt assistance from our dedicated team, providing tailored solutions to meet organizational needs.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- SERVICES END -->

        <!-- CTA START -->
        <section class="section bg-cta-img">
            <div class="bg-overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="cta-heading text-center text-white">
                    <h3>Corporate Collaboration </h3>
                            <div class="spacer-15"></div>
                    <p class="mx-auto cta_details text-white-50">
                        Corporate Collaboration is essential for ensuring smooth operations and consistent
                        service delivery.
                    </p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="watch-video text-center">
                            <div class="project-video">
                                <div class="project-video-border">
                                    <div class="project-video-icon">
                                <a href="https://www.pexels.com/video/a-group-of-young-professionals-are-having-a-teamwork-5725953/" class="video-play-icon text-white text-center" title="Watch Now"><i class="mdi mdi-play play-icon play h2 mb-0 mx-auto"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- CTA END -->

        <!-- WORK START -->
        


<section class="section" id="contact">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-12">
                <div class="section-title text-center">
                    <h3>Get In Touch</h3>
                    <div class="spacer-15"></div>
                    <p class="text-muted mb-0">We're here to help and answer any question you might have. we look forward to hearing from you.</p>
                    <div class="spacer-30"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="map video-app-box mt-30">
                    <iframe src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=Sai%20,%20N-11/N-3/6/3,%20Ganesh%20Chowk,%20Cidco,%20Nashik%C2%A0-%C2%A0422009+(Syrophage)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed" style="border: 0" allowfullscreen></iframe>
                </div>
            </div>
            <!-- col end -->
            <div class="col-md-6">
                <div class="custom-form mt-30">
                    <div id="message"></div>
                    <form method="post" asp-action="Contact" asp-controller="Home" name="contact-form" id="contact-form">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group app-label">
                                    <input name="name" id="name" type="text" class="form-control" placeholder="Your name :">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group app-label">
                                    <input name="Email" id="email" type="email" class="form-control" placeholder="Your email :">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group app-label">
                                    <input name="phone" id="subject" class="form-control" placeholder="Your Phoneno :">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group app-label">
                                    <textarea name="message" id="comments" rows="3" class="form-control" placeholder="Enter message :"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <input type="submit" id="submit" name="send" class="submitBnt btn btn-custom w-100" value="Send Message">
                                <div id="simple-msg"></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="row mt-lg-5 mt-md-3 mt-sm-30">
            <div class="col-lg-3 col-md-6">
                <div class="contact-details text-center mt-30 p-20">
                    <div class="contact-icon">
                        <i class="fas fa-map-marker-alt"></i>
                    </div>
                    <div class="spacer-15"></div>
                    <div class="contact-head">
                        <p class="mb-0 info-title">Location</p>
                        <p class="mb-0"><a href="#" class="text-muted">Sai , N-11/N-3/6/3, Cidco Nashik</a></p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="contact-details text-center mt-30 p-20">
                    <div class="contact-icon">
                        <i class="fas fa-envelope"></i>
                    </div>
                    <div class="spacer-15"></div>
                    <div class="contact-head">
                        <p class="mb-0 info-title">Email</p>
                        <p class="mb-0"><a href="#" class="text-muted">Syrophage@gmail.com</a></p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="contact-details text-center mt-30 p-20">
                    <div class="contact-icon">
                        <i class="fas fa-globe"></i>
                    </div>
                    <div class="spacer-15"></div>
                    <div class="contact-head">
                        <p class="mb-0 info-title">Website</p>
                        <p class="mb-0"><a href="#" class="text-muted">www.Syrophage.com</a></p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="contact-details text-center mt-30 p-20">
                    <div class="contact-icon">
                        <i class="fas fa-phone"></i>
                    </div>
                    <div class="spacer-15"></div>
                    <div class="contact-head">
                        <p class="mb-0 info-title">Call</p>
                        <p class="mb-0">+91 7447508124</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
        <!-- TESTIMONIAL END -->

        <!-- COUNTER START -->
        <section class="section bg-counter">
            <div class="bg-overlay"></div>
            <div class="container">
                <div class="row" id="counter">
                    <div class="col-lg-3 col-md-3">
                        <div class="text-center counter-funfact p-4 mt-3 text-white">
                            <i class="pe-7s-wristwatch counter-icon"></i>
                            <h2 class="counter-value" data-count="500">4</h2>
                            <p class="counter-name mb-0">Vendors</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3">
                        <div class="text-center counter-funfact left-border p-4 mt-3 text-white">
                            <i class="pe-7s-note2 counter-icon"></i>
                            <h2 class="counter-value" data-count="20">10</h2>
                            <p class="counter-name mb-0">Working on</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3">
                        <div class="text-center counter-funfact left-border p-4 mt-3 text-white">
                            <i class="pe-7s-users counter-icon"></i>
                            <h2 class="counter-value" data-count="10">201</h2>
                            <p class="counter-name mb-0">Happy Clients</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3">
                        <div class="text-center counter-funfact left-border p-4 mt-3 text-white">
                            <i class="pe-7s-wine counter-icon"></i>                      
                            <h2 class="counter-value" data-count="532">2</h2>
                            <p class="counter-name mb-0">Tea Cup</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>



@if (TempData["Success"] != null)
{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">

    <script type="text/javascript">
        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }


        // Display the Toastr notification
        toastr.success('@TempData["Success"]');
    </script>
}

@if (TempData["Error"] != null)
{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">

    <script type="text/javascript">
        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }


        // Display the Toastr notification
        toastr.success('@TempData["Error"]');
    </script>
}
<script src="~/js/video_loader.js"></script>
<script src="~/css/video.js"></script>



<script>
    document.addEventListener("DOMContentLoaded", function () {
        var videoLoader = document.getElementById("video-loader");
        var indexPage = document.getElementById("index-page");

        // Add event listener to play index page once video ends
        videoLoader.addEventListener('ended', function () {
            // Hide the video loader
            document.getElementById('preloader1').style.display = 'none';
            // Show the index page
            indexPage.style.display = 'block';
        }, false);
    });
</script>