html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


#About {
    background-image: url('../assets/images/home/bg-about.jpg');
}
#HomePage {
    background-image: url('../assets/images/home/bg-home.jpg');
}
#ContactUs {
    background-image: url('../assets/images/home/bg-pages.jpg');
}

#CommingSoon {
    background-image: url('../assets/images/home/coming-soon.jpg');
}

#LoginPage {
    background-image: url('../assets/images/home/bg-login.jpg');

}

#SignUp {
    background-image: url('../assets/images/home/bg-login.jpg');
}




#Profile2 {
    background-image: url('../assets/images/home/bg-home-2.jpg');
}

.FormSection{
    display:block;
    margin:40px;
}
.bg-home {
    background-image: url('../assets/images/home/bg-login.jpg');
}
#Order {
    background-image: url('../assets/images/home/bg-work.jpg');
}

.bg-half {
    background-image: url('../assets/images/home/bg-work.jpg');
}