@{
    Layout = null;
}

@model Syrophage.Models.Users

<h3>Add Coupons To User</h3>

<!-- Form to assign existing coupon to user -->


<hr />

<!-- User Details -->
<h2>User Details</h2>
<div>
    <p><strong>Name:</strong> @Model.Name</p>
    <p><strong>Email:</strong> @Model.Email</p>
    <!-- Add other properties as needed -->
</div>

<hr />

<!-- Static Coupons -->
