@{
    var userEmail = Context.Session.GetString("UserEmail");
    var userId = Context.Session.GetInt32("UserId");
}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Syrophage</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="~/assets/css/menu-small.css" rel="stylesheet" />
    <link href="~/assets/css/owl.theme.css" rel="stylesheet" />
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/css/menu.css" rel="stylesheet" />
    <link href="~/assets/css/pe-icon-7-stroke.css" rel="stylesheet" />
    <link href="~/assets/css/owl.transitions.css" rel="stylesheet" />
    <link href="~/assets/css/slick-theme.css" rel="stylesheet" />
    <link href="~/assets/css/owl.carousel.min.css" rel="stylesheet" />
    <link type="text/css" href="~/assets/css/magnific-popup.css" rel="stylesheet" />
    <link href="~/assets/css/slick.css" rel="stylesheet" />
    <link href="~/assets/css/style.css" rel="stylesheet" />
    <link href="~/assets/css/fontawesome.css" rel="stylesheet" />
    <link href="~/assets/css/default.css" rel="stylesheet" />
    <link href="~/assets/css/materialdesignicons.min.css" rel="stylesheet" />


    <link rel="stylesheet" href="css/magnific-popup.css">

</head>
<body>

    <!-- Navigation Bar-->
    <div class="tagline hidden-md">
        <div class="container">
            <div class="float-left">
                <div class="phone">
                    <i class="fas fa-phone"></i> +1 123 456 78 90
                </div>
            </div>
            <div class="float-right">
                <ul class="top_socials">
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                    <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
    </div>

    <!-- Navigation Bar-->
    <header id="topnav" class="defaultscroll fixed-top navbar-sticky sticky">
        <div class="container">
            <!-- Logo container-->
            <div>
                <a href="index-2.html" class="logo">
                    <img src="~/screenshot 2024-04-25 174323.png" alt="missing_logo" height="50">
                </a>
            </div>
            <!-- End Logo container-->
            <div class="menu-extras">
                <div class="menu-item">
                    <!-- Mobile menu toggle-->
                    <a class="navbar-toggle">
                        <div class="lines">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </a>
                    <!-- End mobile menu toggle-->
                </div>
            </div>

            <div id="navigation">
                <!-- Navigation Menu-->
                <ul class="navigation-menu">
                    <li class="has-submenu">
                        <a asp-action="Index" asp-controller="Home">Home</a>
                    </li>

                    <li class="has-submenu">
                        <a asp-action="About" asp-controller="Home">About</a>
                    </li>

                    <li class="has-submenu">
                        <a asp-action="Contact" asp-controller="Home">Contact</a>
                    </li>

                    <li class="has-submenu">
                        <a asp-action="Services" asp-controller="Home">Services</a>
                    </li>


                    @{
                        if (userEmail != null)
                        {
                            <li class="has-submenu">
                                <a>Profile</a>
                                <ul class="submenu">
                                    <li><a >Profile</a></li>
                                    <li><a asp-action="Token" asp-controller="Login">Details</a></li>
                                    <li><a asp-action="Logout" asp-controller="Login">Logout</a></li>

                                </ul>
                            </li>
                        }
                        else
                        {
                            <li class="has-submenu">
                                <a asp-action="Login" asp-controller="Login">Login</a>
                                <ul class="submenu">
                                    <li><a asp-action="Register" asp-controller="Login">Register</a></li>
                                    <li><a asp-action="Login" asp-controller="Login">Login</a></li>
                    <li class="has-submenu">
                        <a asp-action="Login" asp-controller="Login">Login</a>
                        <ul class="submenu">
                            <li><a asp-action="Register" asp-controller="Login">Register</a></li>
                            <li><a asp-action="Login" asp-controller="Login">Login</a></li>

                                </ul>
                            </li>
                        }

                    }




                </ul>
                <!-- End navigation menu-->
            </div>
        </div>
    </header>



    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <footer class="footer">
            <div class="section-two">
                <div class="container">
                    <!--Footer Info -->
                    <div class="row footer-info">
                        <div class="col-lg-3 col-md-12 col-sm-12">
                            <div class="">
                                <a href="index-2.html" class="logo">
                                    <img src="~/screenshot_2024-04-26_152838-removebg-preview.png" alt="missing_logo" height="50">
                                </a>
                            </div>
                            <p class="text-footer-clr mt-3">These cases are perfectly simple and easy to free hour, when nothing prevents distinguish.</p>
                            <div>
                                <ul class="list-unstyled social-icon">
                                    <li class="list-inline-item"><a href="#"><i class="fab fa-apple"></i></a></li>
                                    <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li class="list-inline-item"><a href="#"><i class="fab fa-dribbble"></i></a></li>
                                    <li class="list-inline-item"><a href="#"><i class="fab fa-instagram"></i></a></li>
                                    <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-4 col-sm-4">
                            <div class="footer-head">
                                <h5 class="text-light">Company</h5>
                            </div>
                            <div class="footer-item mt-3">
                                <ul class="list-unstyled">
                                    <li><a href="#"><i class="fas fa-chevron-right mr-2"></i> About us</a></li>
                                    <li><a href="#"><i class="fas fa-chevron-right mr-2"></i> Services</a></li>
                                    <li><a href="#"><i class="fas fa-chevron-right mr-2"></i> FAQ</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-4 col-sm-4">
                            <div class="footer-head">
                                <h5 class="text-light">Useful</h5>
                            </div>
                            <div class="footer-item mt-3">
                                <ul class="list-unstyled">
                                    <li><a href="#"><i class="fas fa-chevron-right mr-2"></i> Accounts</a></li>
                                    <li><a href="#"><i class="fas fa-chevron-right mr-2"></i> Sales & Support</a></li>
                                    <li><a href="#"><i class="fas fa-chevron-right mr-2"></i> Orders Track</a></li>
                                    <li><a href="#"><i class="fas fa-chevron-right mr-2"></i> Download Center</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="footer-head">
                                <h5 class="text-light">Newsletter</h5>
                            </div>
                            <div class="footer-news mt-3">
                                <p class="text-footer-clr">Subscribe to our email newsletter to receive useful articles and special offers.</p>
                                <div class="subscribed-form">
                                    <div class="subcribed-form">
                                        <form action="#">
                                            <input name="email" type="email" placeholder="Your Email" id="email" required="">
                                            <button type="submit" class=""><span class="fab fa-telegram-plane"></span></button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Footer Info -->
                </div>
            </div>
            <hr>


            <!-- End Copyright Bar -->
        </footer>
    </footer>
















    @* Hya Main ahw *@
    <script src="~/assets/js/jquery.min.js"></script>

    <script src="~/assets/js/popper.min.js"></script>


    <script src="~/assets/js/bootstrap.min.js"></script>


    <script src="~/assets/js/jquery.magnific-popup.min.js"></script>


    <script src="~/assets/js/isotope.js"></script>

    <script src="~/assets/js/portfolio-filter.js"></script>

    <script src="~/assets/js/owlcarousel.init.js"></script>


    <script src="~/assets/js/owl.carousel.min.js"></script>

    <script src="~/assets/js/slick.init.js"></script>
    <script src="~/assets/js/slick.min.js"></script>

    <script src="~/assets/js/magnific.init.js"></script>

    <script src="~/assets/js/app.js"></script>
    <script src="~/assets/js/counter.init.js"></script>


    @* Hya Main ahw *@

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
