

<link href="~/admin/assets/libs/flot/css/float-chart.css" rel="stylesheet" />
<link href="~/admin/dist/css/style.css" rel="stylesheet" />
<link href="~/admin/dist/css/style.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

<aside class="left-sidebar" data-sidebarbg="skin5">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav" class="pt-4">
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link"
                       asp-action="Dashboard" asp-controller="Admin"
                       aria-expanded="false">
                        <i class="mdi mdi-view-dashboard"></i><span class="hide-menu">Dashboard</span>
                    </a>
                </li>


                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link"
                       asp-action="ViewContact" asp-controller="Admin"
                       aria-expanded="false">
                        <i class="bi bi-person-lines-fill"></i><span class="hide-menu">Contact Us</span>
                    </a>
                </li>
            

                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link"
                       asp-action="ViewUsers" asp-controller="Admin"
                       aria-expanded="false">
                        <i class="bi bi-people-fill"></i><span class="hide-menu">Users</span>
                    </a>
                </li>

                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link"
                       asp-action="ViewNewsLetter" asp-controller="Admin"
                       aria-expanded="false">
                        <i class="bi bi-newspaper"></i><span class="hide-menu">Newsletter</span>
                    </a>
                </li>


                <li class="sidebar-item">

                    <a class="sidebar-link waves-effect waves-dark sidebar-link"
                       asp-action="ViewTokens" asp-controller="Admin"
                       aria-expanded="false">
                        <i class="bi bi-cpu-fill"></i><span class="hide-menu">Tokens</span>
                    </a>
                </li>


                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link"
                       asp-action="Coupons" asp-controller="Admin"
                       aria-expanded="false">
                        <i class="bi bi-wallet2"></i><span class="hide-menu">Coupons</span>
                    </a>
                </li>
                
                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow waves-effect waves-dark"
                       href="javascript:void(0)"
                       aria-expanded="false">
                        <i class="mdi mdi-truck"></i><span class="hide-menu">Orders </span>
                    </a>
                    <ul aria-expanded="false" class="collapse first-level">
                        <li class="sidebar-item">
                            <a asp-action="AddOrder" asp-controller="Admin" class="sidebar-link">
                                <i class="mdi mdi-note-outline"></i><span class="hide-menu"> Add-Orders </span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a asp-action ="ManageOrder" asp-controller="Admin" class="sidebar-link">
                                <i class="mdi mdi-note-plus"></i><span class="hide-menu"> Manage Order</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow waves-effect waves-dark"
                       href="javascript:void(0)"
                       aria-expanded="false">
                        <i class="bi bi-gift-fill"></i><span class="hide-menu">Products </span>
                    </a>
                    <ul aria-expanded="false" class="collapse first-level">
                        <li class="sidebar-item">
                            <a asp-action="AddProduct" asp-controller="Admin" class="sidebar-link">
                                <i class="mdi mdi-note-outline"></i><span class="hide-menu"> Add-Products </span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a asp-action="ManageProduct" asp-controller="Admin" class="sidebar-link">
                                <i class="mdi mdi-note-plus"></i><span class="hide-menu"> Manage Products</span>
                            </a>
                        </li>
                    </ul>
                </li>
            



                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link"
                       asp-action="Categories" asp-controller="Admin"
                       aria-expanded="false">
                        <i class="mdi mdi-compare"></i><span class="hide-menu">Categories</span>
                    </a>
                </li>


            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>





<script src="~/admin/assets/libs/jquery/dist/jquery.min.js"></script>
<script src="~/admin/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="~/admin/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
<script src="~/admin/assets/extra-libs/sparkline/sparkline.js"></script>
<script src="~/admin/dist/js/waves.js"></script>
<script src="~/admin/dist/js/sidebarmenu.js"></script>
<script src="~/admin/dist/js/custom.min.js"></script>
<script src="~/admin/dist/js/pages/dashboards/dashboard1.js"></script>