@{
    var admin = ViewData["Admin"] as Admin;
}

<link href="~/admin/assets/libs/flot/css/float-chart.css" rel="stylesheet" />
<link href="~/admin/dist/css/style.css" rel="stylesheet" />
<link href="~/admin/dist/css/style.min.css" rel="stylesheet" />






<header class="topbar" data-navbarbg="skin5">
    <nav class="navbar top-navbar navbar-expand-md navbar-dark">
        <div class="navbar-header" data-logobg="skin5">
            <!-- ============================================================== -->
            <!-- Logo -->
            <!-- ============================================================== -->
            <a class="navbar-brand" href="#">


                <!--End Logo icon -->
                <!-- Logo text -->
                <span class="logo-text ms-2">
                    <!-- dark Logo text -->
                    <img src="~/screenshot_2024-04-26_152838-removebg-preview.png"
                         alt="homepage"
                         height="55px"
                         width="180px"
                         class="light-logo" />
                </span>
                <!-- Logo icon -->



            </a>

            <a class="nav-toggler waves-effect waves-light d-block d-md-none"
               href="javascript:void(0)">
                <i class="ti-menu ti-close"></i>
            </a>
        </div>
        <!-- ============================================================== -->
        <!-- End Logo -->
        <!-- ============================================================== -->
        <div class="navbar-collapse collapse"
             id="navbarSupportedContent"
             data-navbarbg="skin5">
            <!-- ============================================================== -->
            <!-- toggle and nav items -->
            <!-- ============================================================== -->
            <ul class="navbar-nav float-start me-auto">
                <li class="nav-item d-none d-lg-block">
                    <a class="nav-link sidebartoggler waves-effect waves-light"
                       href="javascript:void(0)"
                       data-sidebartype="mini-sidebar">
                        <i class="mdi mdi-menu font-24"></i>
                    </a>
                </li>
                <!-- ============================================================== -->
                <!-- create new -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Search -->
                <!-- ============================================================== -->

            </ul>
            <!-- ============================================================== -->
            <!-- Right side toggle and nav items -->
            <!-- ============================================================== -->
            <ul class="navbar-nav float-end">
                <!-- ============================================================== -->
                <!-- Comment -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- End Comment -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Messages -->
                <!-- ============================================================== -->


                <header class="topbar" data-navbarbg="skin5">
                    <!-- Navbar markup -->
                    <nav class="navbar top-navbar navbar-expand-md navbar-dark">
                        <div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin5">
                            <ul class="navbar-nav float-end">
                                <!-- Messages Dropdown -->
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle waves-effect waves-dark" href="#" id="messagesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="font-24 mdi mdi-comment-processing"></i>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-end mailbox animated bounceInDown" aria-labelledby="messagesDropdown">
                                        <li>
                                            <div class="message-center">
                                                <div class="d-flex no-block align-items-center p-10">
                                                    <a asp-action="ViewUsers" asp-controller="Admin" class="btn btn-success btn-circle d-flex align-items-center justify-content-center">
                                                        <i class="mdi mdi-account fs-4"></i>
                                                    </a>
                                                    <div class="ms-2">
                                                        @*    <h5 class="mb-0">Total Users </h5> *@
                                                        <h4 class="mail-desc" id="totalUsersCount">Loading...</h4>
                                                    </div>
                                                </div>

                                                <div class="d-flex no-block align-items-center p-10">
                                                    <a asp-action="Coupons" asp-controller="Admin" class="btn btn-success btn-circle d-flex align-items-center justify-content-center">
                                                        <i class="mdi mdi-ticket fs-4"></i>
                                                    </a>
                                                    <div class="ms-2">
                                                        @*         <h5 class="mb-0">Total Coupons </h5> *@
                                                        <h4 class="mail-desc" id="totalCouponsCount">Loading...</h4>
                                                    </div>
                                                </div>

                                                <div class="d-flex no-block align-items-center p-10">
                                                    <a asp-action="ViewNewsLetter" asp-controller="Admin" class="btn btn-success btn-circle d-flex align-items-center justify-content-center">
                                                        <i class="mdi mdi-newspaper fs-4"></i>
                                                    </a>
                                                    <div class="ms-2">
                                                        @*   <h5 class="mb-0">Total News </h5> *@
                                                        <h4 class="mail-desc" id="totalNewsCount">Loading...  </h4>
                                                    </div>
                                                </div>

                                                <div class="d-flex no-block align-items-center p-10">
                                                    <a asp-action="ViewContact" asp-controller="Admin" class="btn btn-success btn-circle d-flex align-items-center justify-content-center">
                                                        @*    <i class="mdi mdi-account fs-4"></i> *@
                                                        <span class="mdi mdi-account-card-details"></span>
                                                    </a>
                                                    <div class="ms-2">
                                                        @*    <h5 class="mb-0">Total Contact </h5> *@
                                                        <h4 class="mail-desc" id="totalContactCount">Loading...</h4>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </header>




                <!-- ============================================================== -->
                <!-- End Messages -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- User profile and search -->
                <!-- ============================================================== -->



                <li class="nav-item dropdown">
                    <a class="
                    nav-link
                    dropdown-toggle
                    text-muted
                    waves-effect waves-dark
                    pro-pic
                  "
                       href="#"
                       id="navbarDropdown"
                       role="button"
                       data-bs-toggle="dropdown"
                       aria-expanded="false">
                        <img src="@admin.ProfileImageUrl"
                             alt="user"
                             class="rounded-circle"
                             width="31" />
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end user-dd animated"
                        aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" asp-action="MyProfile" asp-controller="Admin"><i class="mdi mdi-account me-1 ms-1"></i> My Profile</a>
                        <a class="dropdown-item" href="javascript:void(0)"><i class="mdi mdi-wallet me-1 ms-1"></i> My Balance</a>
                        <a class="dropdown-item" href="javascript:void(0)"><i class="mdi mdi-email me-1 ms-1"></i> Inbox</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="javascript:void(0)">
                            <i class="mdi mdi-settings me-1 ms-1"></i> Account
                            Setting
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" asp-action="AdminLogout" asp-controller="Login">
                            <i class="fa fa-power-off me-1 ms-1"></i> Logout
                        </a>
                        <div class="dropdown-divider"></div>
                        <div class="ps-4 p-10">
                            <a href="javascript:void(0)"
                               class="btn btn-sm btn-success btn-rounded text-white">View Profile</a>
                        </div>
                    </ul>
                </li>
                <!-- ============================================================== -->
                <!-- User profile and search -->
                <!-- ============================================================== -->
            </ul>
        </div>
    </nav>
</header>

<script src="~/admin/assets/libs/jquery/dist/jquery.min.js"></script>
<script src="~/admin/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="~/admin/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
<script src="~/admin/assets/extra-libs/sparkline/sparkline.js"></script>
<script src="~/admin/dist/js/waves.js"></script>
<script src="~/admin/dist/js/sidebarmenu.js"></script>
<script src="~/admin/dist/js/custom.min.js"></script>
<script src="~/admin/dist/js/pages/dashboards/dashboard1.js"></script>






@* -------------------------------- *@

<script>
    $(document).ready(function () {
        // Preload total user count when the page loads
        preloadTotalUserCount();

        // Preload total coupons count when the page loads
        preloadTotalCouponsCount();

        preloadTotalNewsCount();

        preloadTotalContactCount();


    });

    function preloadTotalUserCount() {
        // Perform AJAX request to fetch total user count
        $.ajax({
            url: '/User/TotalU', // URL to your action method which fetches the total user count
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                // Update HTML to display total user count
                $('#totalUsersBadge').html(data.totalUsers);
                $('#totalUsersCount').html('Total Users: ' + data.totalUsers);
            },
            error: function (xhr, status, error) {
                console.error('Error fetching total users count:', error);
            }
        });
    }

    function preloadTotalCouponsCount() {
        // Perform AJAX request to fetch total coupons count
        $.ajax({
            url: '/User/TotalCoupons', // URL to your action method which fetches the total coupons count
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                // Update HTML to display total coupons count
                $('#totalCouponsBadge').html(data.totalCoupons);
                $('#totalCouponsCount').html('Total Coupons: ' + data.totalCoupons);
            },
            error: function (xhr, status, error) {
                console.error('Error fetching total coupons count:', error);
            }
        });
    }

    function preloadTotalNewsCount() {
        // Perform AJAX request to fetch total coupons count
        $.ajax({
            url: '/User/TotalNews', // URL to your action method which fetches the total coupons count
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                // Update HTML to display total coupons count
                $('#totalCouponsBadge').html(data.totalCoupons);
                $('#totalNewsCount').html('Total News: ' + data.totalNews);
            },
            error: function (xhr, status, error) {
                console.error('Error fetching total coupons count:', error);
            }
        });
    }

    function preloadTotalContactCount() {
        // Perform AJAX request to fetch total coupons count
        $.ajax({
            url: '/User/TotalContact', // URL to your action method which fetches the total coupons count
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                // Update HTML to display total coupons count
                $('#totalCouponsBadge').html(data.totalCoupons);
                $('#totalContactCount').html('Total Contact: ' + data.totalContact);
            },
            error: function (xhr, status, error) {
                console.error('Error fetching total coupons count:', error);
            }
        });
    }
</script>